
/* Adds the light gray hover over the nav bar links */
a:hover{
  color: gray !important
}

/* puts the background image over the pages and sets a default font incase the one I explicitly linked in the HTML doesn't work  */
body{
    background-image: url("../images/backgrounds/darker_brickwall_v3.png");
    font-family: sans-serif;
}


/* Class I made to change the background color for the text boxes and nav bar
I don't think using !important is the best way to go about that but I didn't want to risk messing with the Sass code */
.bg-img{

  background-color: rgb(255, 238, 216,0.95) !important; 

}





/* Font used is urbanist, and there are 3 versions I made based on what they're used for, only difference being in their weight */
.urbanist-nav {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.urbanist-product {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.urbanist-other {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}





/* This line of code is to remove the counter buttons from the input fields that need a number */
/* link: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  